@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*초기화 코드*/
* {
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  box-sizing: border-box; /* width와 height가 padding과 border까지 포함하도록 설정 */  
}
a {
  text-decoration: none; /* 링크의 밑줄 제거 */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
    font-family: 'NEXON Lv1 Gothic OTF';
}

section#intro {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/image-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

/* 흐린 어두운 오버레이 */
section#intro::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1;
}

/* 기본 공통 중앙 레이아웃 */
.section_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: center;
}

/* 기본 공통 레이아웃 */
.section_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}

.section_title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #333;
}


/* 텍스트 */
.title, .title_by {
  position: relative;
  z-index: 2;
}

.title span {
  display: block;
  margin-bottom: 0.3rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.title_name {
  font-size: 2rem;
  color: #eee;
}

.title_by {
  position: absolute;
  bottom: 50px;
  right: 70px;
  font-size: 0.8rem;
  color: #eee;
}

/* 반응형 태블릿 768px 이상 */
@media screen and (min-width: 768px) {
  .title_name { font-size: 4rem; }
  .title_by { font-size: 1rem; }
}

/* 반응형 PC 1200px 이상 */
@media screen and (min-width: 1200px) {
  .title_name { font-size: 5rem; }
  .title_by { font-size: 1.2rem; }

  .title span {
    margin-bottom: 1.5rem;
  }
}
